app/code/local/Customweb/BNPMercanetCw/etc/wsi.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:typens="urn:{{var wsdl.name}}"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             name="{{var wsdl.name}}"
             targetNamespace="urn:{{var wsdl.name}}">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:{{var wsdl.name}}">
            <xsd:complexType name="bnpmercanetcwTransactionEntity">
                <xsd:sequence>
                    <xsd:element name="transaction_id" type="xsd:int" minOccurs="0" />
                    <xsd:element name="transaction_external_id" type="xsd:string" minOccurs="0" />
                    <xsd:element name="order_id" type="xsd:int" minOccurs="0" />
                    <xsd:element name="order_payment_id" type="xsd:int" minOccurs="0" />
                    <xsd:element name="alias_for_display" type="xsd:string" minOccurs="0" />
                    <xsd:element name="alias_active" type="xsd:boolean" minOccurs="0" />
                    <xsd:element name="payment_method" type="xsd:string" minOccurs="0" />
                    <xsd:element name="authorization_type" type="xsd:string" minOccurs="0" />
                    <xsd:element name="customer_id" type="xsd:int" minOccurs="0" />
                    <xsd:element name="updated_on" type="xsd:string" minOccurs="0" />
                    <xsd:element name="created_on" type="xsd:string" minOccurs="0" />
                    <xsd:element name="payment_id" type="xsd:string" minOccurs="0" />
                    <xsd:element name="authorization_amount" type="xsd:string" minOccurs="0" />
                    <xsd:element name="authorization_status" type="xsd:string" minOccurs="0" />
                    <xsd:element name="paid" type="xsd:boolean" minOccurs="0" />
                    <xsd:element name="currency" type="xsd:string" minOccurs="0" />
                    <xsd:element name="data" type="typens:associativeArray" minOccurs="0" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="bnpmercanetcwTransactionEntityArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:bnpmercanetcwTransactionEntity" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="bnpmercanetcwTransactionListRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="filters" type="typens:filters" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="bnpmercanetcwTransactionListResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="typens:bnpmercanetcwTransactionEntityArray" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="bnpmercanetcwTransactionInfoRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="transactionId" type="xsd:int" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="attributes" type="typens:ArrayOfString" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="bnpmercanetcwTransactionInfoResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="typens:bnpmercanetcwTransactionEntity" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="bnpmercanetcwTransactionInfoByPaymentIdRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="paymentId" type="xsd:int" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="attributes" type="typens:ArrayOfString" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="bnpmercanetcwTransactionInfoByPaymentIdResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="typens:bnpmercanetcwTransactionEntity" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="bnpmercanetcwTransactionListRequest">
        <wsdl:part name="parameters" element="typens:bnpmercanetcwTransactionListRequestParam" />
    </wsdl:message>
    <wsdl:message name="bnpmercanetcwTransactionListResponse">
        <wsdl:part name="parameters" element="typens:bnpmercanetcwTransactionListResponseParam" />
    </wsdl:message>
    <wsdl:message name="bnpmercanetcwTransactionInfoRequest">
        <wsdl:part name="parameters" element="typens:bnpmercanetcwTransactionInfoRequestParam" />
    </wsdl:message>
    <wsdl:message name="bnpmercanetcwTransactionInfoResponse">
        <wsdl:part name="parameters" element="typens:bnpmercanetcwTransactionInfoResponseParam" />
    </wsdl:message>
    <wsdl:message name="bnpmercanetcwTransactionInfoByPaymentIdRequest">
        <wsdl:part name="parameters" element="typens:bnpmercanetcwTransactionInfoByPaymentIdRequestParam" />
    </wsdl:message>
    <wsdl:message name="bnpmercanetcwTransactionInfoByPaymentIdResponse">
        <wsdl:part name="parameters" element="typens:bnpmercanetcwTransactionInfoByPaymentIdResponseParam" />
    </wsdl:message>
    <wsdl:portType name="{{var wsdl.handler}}PortType">
        <wsdl:operation name="bnpmercanetcwTransactionList">
            <wsdl:documentation>Retrieve BNPMercanetCw Transactions</wsdl:documentation>
            <wsdl:input message="typens:bnpmercanetcwTransactionListRequest" />
            <wsdl:output message="typens:bnpmercanetcwTransactionListResponse" />
        </wsdl:operation>
        <wsdl:operation name="bnpmercanetcwTransactionInfo">
            <wsdl:documentation>Retrieve BNPMercanetCw Transaction Data By Transaction Id</wsdl:documentation>
            <wsdl:input message="typens:bnpmercanetcwTransactionInfoRequest" />
            <wsdl:output message="typens:bnpmercanetcwTransactionInfoResponse" />
        </wsdl:operation>
        <wsdl:operation name="bnpmercanetcwTransactionInfoByPaymentId">
            <wsdl:documentation>Retrieve BNPMercanetCw Transaction Data By Payment Id</wsdl:documentation>
            <wsdl:input message="typens:bnpmercanetcwTransactionInfoByPaymentIdRequest" />
            <wsdl:output message="typens:bnpmercanetcwTransactionInfoByPaymentIdResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="bnpmercanetcwTransactionList">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="bnpmercanetcwTransactionInfo">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
         <wsdl:operation name="bnpmercanetcwTransactionInfoByPaymentId">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>
